@import "tailwindcss";

.bg-test {
  @apply bg-red-500 text-white p-4;
}
@theme {
  --color-secondary: #8B2A1B;
  --color-fond: #FFF9F5;
  --color-accent: #EFAF9B;
  --color-tri: #EBC0A6;
  --color-button:#FF9D4A;
  --color-valider:#FF6900;
  --color-bordure:#E5E7EB;
}
/* cacher scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-test {
  @apply bg-red-500 text-white p-4;
}


.bg-noise {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.05;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B0B0B;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Effet de texte vide avec contour blanc */
.outline-text {
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  transition: all 0.5s ease;
}

/* Correction pour mobile : empêcher le scroll horizontal */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

